# Virtual Environment
venv/
.venv/
env/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Large Datasets & Traffic Captures (>100MB, up to 70GB PCAP/Binetflow/CSV)
data/*/*.pcap
data/*/*.binetflow
data/*/*.csv
data/*/*.exe

# Large Binary Model Checkpoints (>100MB limit on GitHub)
models/*.joblib

# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
